header.hero {
  padding: 0 100px 50px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  header.hero {
    padding: 0 20px 30px;
    text-align: center;
  }
}
