header.main-header {
  width: 100%;
  padding: 20px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  > div.logo-nav {
    display: flex;
    align-items: center;
    gap: 30px;

    > nav > ul {
      display: flex;
      gap: 30px;

      > li {
        list-style-type: none;
      }
    }
  }
  > div.icons {
    display: flex;
    align-items: center;
    gap: 20px;
    > svg {
      font-size: 30px;
    }
    > svg:hover {
      cursor: pointer;
      color: var(--blue-1);
    }

    > .cart-icon {
      position: relative;
      > svg {
        font-size: 30px;
      }
      > svg:hover {
        cursor: pointer;
        color: var(--blue-1);
      }

      > span.cart-count {
        position: absolute;
        top: -8px;
        right: -8px;
        background-color: var(--blue-1);
        color: white;
        border-radius: 50%;
        width: 18px;
        height: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  header.main-header {
    padding: 15px;
    flex-direction: column;
    gap: 15px;
  }

  header > div.logo-nav {
    flex-direction: column;
    width: 100%;
  }

  header > div.logo-nav > nav > ul {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  header > div.icons {
    width: 100%;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 969px) {
  header.main-header {
    padding: 15px 30px;
  }
  header.main-header > div.logo-nav {
    gap: 15px;
  }

  header.main-header > div.logo-nav > nav > ul {
    gap: 15px;
  }

  header.main-header > div.logo-nav > nav > ul > li {
    font-size: 14px;
  }

  header.main-header > div.icons > svg,
  header.main-header > div.icons > .cart-icon > svg {
    font-size: 24px;
  }

  header.main-header > div.icons {
    gap: 15px;
  }
}
